.manual-page {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    gap: 20px;
    max-width: 100%;          
}

.manual-content {
    grid-column: 2;
    display: flex;
    height: 100vh;
}

#manual-upload-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 columns for form fields */
    grid-template-rows: auto auto;  /* Adjust number of rows if needed */
    gap: 20px;
}

.name-field {
    grid-column: 1;
}

.surname-field {
    grid-column: 2;
}

.position-field {
    grid-column: 3;
}

.image-container {
    grid-column: 1 / -1; /* Span across all columns */
    display: flex;
    justify-content: space-around;
}
.manual-create-button {
    grid-column: 3;
}