.manual-page {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    gap: 20px;
    max-width: 100%;          
}

.manual-content {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); 
    gap: 20px;  
    height: 100vh; 
}

.name-field form {
    grid-column: 1;  
}

.surname-field form {
    grid-column: 2;  
}

.position-field {
    grid-column: 3;  
}

.image-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;  
    align-items: center;      
    height: 100%;             
}

.manual-create-button {
    grid-row: 3;
    grid-column: 3;
}